{% extends 'reportes/_cabecera.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
        {{ historia.aparatos.cardiovasculares}}
    <br>
    <br>
    <br>
    <br>
        {{ historia.aparatos.respiratorio}}
    <br>
    <br>
    <br>
    <br>
    <br>
        {{ historia.aparatos.digestivo}}
    <br>
    <br>
    <br>
    <br>
    <br>
        {{ historia.aparatos.urinario}}
    <br>
    <br>
    <br>
    <br>
    <br>
        {{ historia.aparatos.genital}}
    <br>
    <br>
    <br>
    <br>
    <br>
        {{ historia.aparatos.locomotor}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        {{ historia.aparatos.sistema_nervioso}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        {{ historia.aparatos.sistema_endocrino}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        {{ historia.aparatos.piel_faneas}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        {{ historia.aparatos.organos}}

{% endblock %}
