<!DOCTYPE html>
<html>
<head lang="en">

</head>
<body>
<br>
<br>
<br>
    {{historia.examen_fisico.impresion_general}}
<br>
<br>
<br>
<br>
<br>
    {{historia.examen_fisico.signos_vitales}}
<br>
<br>
<br>
    {{historia.examen_fisico.cabeza_cuello}}
<br>
<br>
<br>
<br>
    {{historia.examen_fisico.torax}}
<br>
<br>
<br>
<br>
    {{historia.examen_fisico.respiratorio}}
<br>
<br>
<br>
    {{historia.examen_fisico.cardiovascular}}
<br>
<br>
<br>
<br>
<br>
    {{historia.examen_fisico.abdomen}}
<br>
<br>
<br>
<br>
<br>
    {{historia.examen_fisico.miembros}}
<br>
<br>
<br>
<br>
<br>
    {{historia.examen_fisico.genitales}}
<br>
<br>
<br>
<br>
<br>
    {{historia.examen_fisico.examen_neurologico}}
<br>
<br>
<br>
<br>
<br>
    {{historia.examen_fisico.fondo_ojos}}
<br>
<br>
<br>
    {{historia.examen_fisico.examen_proctologico}}
</body>
</html>