{% load fojas_quirurgicas_tags historias_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
     <style type="text/css">
        html, body {
            height: 100%;
            padding-left: 30px;
            font-size: 10px;
        }

        table {
          border-collapse: collapse;
        }

        td, th {
          border: 1px solid #999;
          padding: 2px;
          text-align: left;
        }

        .bck {
            background-color: grey;
            padding: 5px;
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body>
    Pacientes Internados - {{fecha|date:"SHORT_DATETIME_FORMAT"}}

    {% if internados %}
        <table width="100%" style="border: 1px solid">
            {% for i in internados %}
                {% if forloop.counter|divisibleby:2 == False %}
                    <tr>
                {% endif %}
                        <td width="50%" valign="TOP">
                            <div class="bck">{{ i.sala }} - CAMA: {{ i.cama }}</div>
                            <!-- nombre y appellido del paciente -->
                            {{ i.historia.paciente.nombre }} {{ i.historia.paciente.apellido }}
                            <!-- edada -->
                            ({{ i.historia.paciente.edad }})|
                            <!-- fecha de ingreso -->
                            Ing. {{ i.historia.fecha_ingreso|date:"d-m-Y" }}
                            <!-- cantidad de dias -->
                            ({{ i.historia.fecha_ingreso|calcular_diferencia_dias }} d)|
                            <!-- diagnostico -->
                            con Diag. {{ i.historia.diagnostico.tipo_diagnostico.nombre }}

                            <br><br>
                            <!-- fojas quirurgicas -->
                            {% obtener_fojas_quirurgicas i.historia.id as fojas %}
                            {% for fq in fojas %}
                                {{ fq.fecha|date:"d-m-Y" }} ({{ fq.fecha|calcular_diferencia_dias }} d)
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{ fq.procedimiento_quirurgico.nombre }}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{ fq.cirujano.nombre }} {{ fq.cirujano.apellido }}
                                <br>
                            {% endfor%}
                            <br>
                            HC: {{ i.historia.codigo }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{ i.historia.medico.nombre }} {{ i.historia.medico.apellido }}
                        </td>
                {% if forloop.counter|divisibleby:2 %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>