{% extends 'base.html' %}
{% load pagination_tags %}
{% load static %}
{% load thumbnail %}


{% block title %}Medicos{% endblock title %}

{% block content %}
    {% autopaginate object_list 10 %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Médicos</h1>

            <a href="{% url 'medicos:create' %}" class="btn btn-primary"><i class="fa fa-user-md"> Agregar Médico</i></a>

            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dt_grid">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dni</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if object_list %}
                        {% for medico in object_list %}
                            <tr>
                                <td>
                                    {% if medico.foto %}
                                        <img src="{% thumbnail medico.foto 50x50 crop %}" title="No foto">
                                    {% else %}
                                        <img src="{% static 'images/persona_sin_foto.jpg' %}" title="No foto">
                                    {% endif %}
                                </td>
                                <td>{{ medico.nombre }}</td>
                                <td>{{ medico.apellido }}</td>
                                <td>{{ medico.dni }}</td>
                                <td>
                                    <a href="{% url 'medicos:update' medico.id %}"><i class="fa fa-pencil"></i></a>
                                    <a href="{% url 'medicos:delete' medico.id %}"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            {% paginate %}
        </div>
    </div>
{% endblock %}