{% extends 'base.html' %}

{% block title %}Eliminar Medico{% endblock title %}

{% block content %}

    <h1 class="page-header">Eliminar Médico</h1>
    <form action="" method="post">{% csrf_token %}
        <p><b>ATENCIÓN:</b> Está seguro de eliminar el médico "{{ object.nombre }} {{ object.apellido }}"?</p>
        <button type="submit" class='btn btn-danger'><i class="fa fa-trash-o"></i> Eliminar</button>
        <a href="{% url 'medicos:medicos_list' %}">Volver</a>
    </form>


{% endblock %}