<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <ul>
                    <li>
                        Desarrollado por:
                        <a href="mailto:brunomartintenaglia@gmail.com"><i class="fa fa-envelope-o"></i> Bruno M. Tenaglia</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="pull-right">
                    <li class="python"><a href="https://www.python.org/">Python<br>Powered</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>