{% load historias_tags %}
{% load epicrisis_tags %}
{% load static %}
{% load thumbnail %}

<!-- info de la historia -->
<div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-bars"></i> Historia clínica
    </div>
    <div class="panel-body">
        <div class="well well-lg">
          <label><strong>Nº Historia: </strong></label>
          <span class="label label-success">{{ historia.codigo }}</span>
          <br>
          <label><strong>Estado:</strong></label>
            {% if historia.estado == None %}
                <span class="label label-warning">Open</span>
            {% else %}
                {% if historia.estado == 1 %}
                    <span class="label label-success">Alta</span>
                {% else %}
                    {% if historia.estado == 2 %}
                        <span class="label label-danger">Óbito</span>
                    {% else %}
                        {% if historia.estado == 3 %}
                            <span class="label label-primary">Pase de servicio</span>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
          <br>
          <label><strong>Fecha Ingreso: </strong></label>
          {{ historia.fecha_ingreso|date:"SHORT_DATE_FORMAT" }}
          <br>
          <label><strong>Hora Ingreso: </strong></label>
          {{ historia.hora_ingreso }}
        </div>
    </div>
</div>
<!-- / info de la historia -->

<!-- info info del paciente -->
<div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-user"></i> Paciente
    </div>
    <div class="panel-body">
        <div class="well well-lg">
            <!-- foto del paciente -->
            {% if historia.paciente.foto %}
                <img src='{% thumbnail historia.paciente.foto 80x80 crop %}'>
            {% else %}
                <img src='{% static "images/paciente_sin_foto.jpg" %}'>
            {% endif %}
            <!-- / foto del paciente -->
            <br>
            <label><strong>Nombre: </strong></label>
            {{ historia.paciente.nombre }}
            <br>
            <label><strong>Apellido: </strong></label>
            {{ historia.paciente.apellido }}
            <br>
            <label><strong>Sexo: </strong></label>
            {% if historia.paciente.sexo == 0 %}Masculino{% else %}Femenino{% endif %}
            <br>
            <label><strong>Madre: </strong></label>
            {{ historia.paciente.madre }}
            <br>
            <label><strong>F. nacimiento: </strong></label>
            {{ historia.paciente.fecha_nacimiento|date:"SHORT_DATE_FORMAT" }}
            <br>
            <label><strong>Estado civil: </strong></label>
            {% if historia.paciente.estado_civil == 0 %}
            Soltero
            {% elif historia.paciente.estado_civil == 1 %}
            Casado
            {% elif historia.paciente.estado_civil == 2 %}
            Viudo
            {% elif historia.paciente.estado_civil == 3 %}
            Divorciado
            {% endif %}
        </div>
    </div>
</div>
<!-- / info del paciente -->

<!-- Links útiles  -->
<div class="panel panel-primary">
    <div class="panel-heading">
      <i class="fa fa-link"></i> Links útiles
    </div>
    <div class="panel-body">
        <div class="well well-lg">
          {% if '/inter/consultas/' not in  request.get_full_path %}
            <a href="{% url 'inter_consultas:list' historia.id %}">
                <i class="fa fa-stethoscope"></i> Inter consultas
            </a>
            <br>
          {% endif %}
          {% if 'evoluciones' not in  request.get_full_path %}
            <a href="{% url 'evoluciones:list' historia.id %}">
                <i class="fa fa-check-square-o"></i> Evoluciones
            </a>
            <br>
          {% endif %}
          {% if 'fojas/quirurgicas' not in  request.get_full_path %}
            <a href="{% url 'fojas_quirurgicas:list' historia.id %}">
                <i class="fa fa-heartbeat"></i> Fojas Quirúrgicas
            </a>
            <br>
          {% endif %}
          <a href="{% url 'historias:estado_update' historia.id %}">
            <i class="fa fa-cog"></i> Cambiar estado
          </a>
            <br>
        {% if historia.estado == 1 %}
            {% tiene_epicrisis historia.id as epicrisis %}
            {% if epicrisis %}
                <a href="{% url 'epicrisis:update' epicrisis.0.id historia.id %}">
            {% else %}
                <a href="{% url 'epicrisis:create' historia.id %}">
            {% endif %}
                <i class="fa fa-sign-out"></i> Epicrisis</a>
                <br>
        {% endif %}
          {% if '/reportes/historia/' not in  request.get_full_path %}
              <a role="menuitem" href="{% url 'reportes:historia' historia.id %}">
                <i class="fa fa-print"></i> Imprimir historia clínica
              </a>
            <br>
          {% endif %}
            {% if historia|tiene_ubicacion:historia.id == 1 %}
                <a href="{% url 'historias:ubicacion_update' historia.id %}">
                    <i class="fa fa-bed"></i> Reubicar paciente
                </a>
            {% else %}
                <a href="{% url 'historias:ubicacion_create' historia.id %}">
                    <i class="fa fa-bed"></i> Ubicar paciente
                </a>
            {% endif %}
          <br>
          <a href="{% url 'historias:update' historia.id %}">
            <i class="fa fa-pencil"></i> Editar historia clínica
          </a>

        </div>
    </div>
</div>
<!-- / Links útiles -->