{% extends 'evoluciones/_fotos_base.html' %}
{% load thumbnail %}

{% block content %}

    <!-- btn para agregar nueva Foto -->
    <a data-url="{% url 'evoluciones:fotos_create' evolucion.id %}"
       class="btn btn-primary evoluciones_fotos_link">
        <i class="fa fa-plus"> Nueva Foto</i>
    </a>
    <!-- / btn para agregar nueva Foto -->
    <br>
    <br>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Comentario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for foto in object_list %}
                <tr>
                    <td>
                        <img src="{% thumbnail foto.foto 50x50 crop %}" title="No foto">
                    </td>
                    <td>
                        {% if foto.comentario|length > 70 %}
                            {{ foto.comentario|truncatechars:70 }}
                            <a href="">[+]</a>
                        {% else %}
                            {{ foto.comentario }}
                        {% endif %}
                    </td>
                    <td>
                        <!-- btn para editar nueva Foto -->
                        <a data-url="{% url 'evoluciones:fotos_update' foto.id evolucion.id %}" class="evoluciones_fotos_link">
                            <i class="fa fa-pencil"></i>
                        </a><!-- / btn para editar nueva Foto -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(".evoluciones_fotos_link").click(function(ev){
            ev.preventDefault();
            var url = $(this).data("url");
            $("#evoluciones_fotos_modal").load(url, function() { // load the url into the modal
                $("#evoluciones_fotos_modal").modal('show'); // display the modal on url load
            });
            return false;
        });
    </script>

{% endblock %}

