{% extends 'evoluciones/_fotos_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.id %}
        Editar
    {% else %}
        Agregar
    {% endif %}
     Foto -
{% endblock %}

{% block content %}

    <a data-url="{% url 'evoluciones:fotos' evolucion.id %}" class="back">
        <i class="fa fa-reply"> Volver</i>
    </a>
    <br>
    <br>
    <form id='foto_evoluciones_form' method="post" enctype="multipart/form-data"
          {% if form.instance.id %}
            action="{% url 'evoluciones:fotos_update' form.instance.id evolucion.id %}"
          {% else %}
            action="{% url 'evoluciones:fotos_create'  evolucion.id %}"
          {% endif %}
    >
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check"></i> Confirmar
            </button>
          </div>
        </div>
    </form>

{% endblock %}