{% extends 'base.html' %}
{% load pagination_tags %}


{% block title %}Ayudantes{% endblock title %}

{% block content %}

    {% autopaginate object_list 10 %}

    <h1 class="page-header">Ayudantes</h1>

    <a href="{% url 'ayudantes:create' %}" class="btn btn-primary"><i class="fa fa-user-md"> Agregar Ayudante</i></a>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dt_grid">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for ayudante in object_list %}
                    <tr>
                        <td>{{ ayudante.nombre }}</td>
                        <td>{{ ayudante.apellido }}</td>
                        <td>{{ ayudante.dni }}</td>
                        <td>
                            <a href="{% url 'ayudantes:update' ayudante.id %}"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'ayudantes:delete' ayudante.id %}"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% paginate %}

{% endblock %}