{% extends 'base.html' %}
{% load pagination_tags %}

{% block title %}Pacientes{% endblock title %}

{% block content %}
    {% autopaginate object_list 10 %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pacientes</h1>

            <a href="{% url 'pacientes:create' %}" class="btn btn-primary"><i class="fa fa-user-plus"> Agregar Paciente</i></a>

            {% if object_list %}

                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dt_grid">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Dni</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Nombre de la madre</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for paciente in object_list %}
                                <tr>
                                    <td>{{ paciente.nombre }}</td>
                                    <td>{{ paciente.apellido }}</td>
                                    <td>
                                        {% if paciente.documento != "" %}
                                            {{ paciente.documento }}
                                        {% else %}
                                            <i class="fa fa-exclamation-triangle"></i> No recuerda
                                        {% endif %}
                                    </td>
                                    <td>{{ paciente.fecha_nacimiento|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ paciente.madre }}</td>
                                    <td>
                                        <div class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                            Elija una opción
                                            <span class="caret"></span>
                                          </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="{% url 'historias:create' paciente.id %}">
                                                        <i class="fa fa-plus-square"></i> Agregar historia clínica
                                                    </a>
                                                </li>
                                                 <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="{% url 'historias:paciente' paciente.id %}">
                                                        <i class="fa fa-bars"></i> Ver sus historias clínicas
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="{% url 'pacientes:update' paciente.id %}">
                                                        <i class="fa fa-pencil"></i> Editar paciente
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="{% url 'pacientes:delete' paciente.id %}">
                                                        <i class="fa fa-trash-o"></i> Eliminar paciente
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% paginate %}
            {% else %}
                <p>Sin registros!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}