<!-- Listado de Fojas Quirurgicas -->
{% extends 'fojas_quirurgicas/_fojas_quirurgicas_base.html' %}

{% load pagination_tags %}

{% block fq_titulo %} Fojas Quirurgicas {% endblock fq_titulo %}

{% block fq_contenido %}
	
		<a href="{% url 'fojas_quirurgicas:create' historia.id %}" class="btn btn-primary"><i class="fa fa-plus"> Nueva Foja Quirurgica</i></a>

        {% include 'fojas_quirurgicas/_search.html' %}

        {% autopaginate object_list 40 %}

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dt_grid">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cirujano</th>
                <th>Procedimiento</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for foja in object_list %}
                    <tr>
                        <td>{{ foja.fecha|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>
                            {{ foja.cirujano.nombre }} {{ foja.cirujano.apellido }}
                        </td>
                        <td>
                            {{ foja.procedimiento_quirurgico.nombre }}
                        </td>
                        <td>
                            {% if foja.descripcion|length > 30 %}
                                {{ foja.descripcion|truncatechars:30 }}
                                <a href="{% url 'fojas_quirurgicas:update' foja.id foja.historia_id %}">[+]</a>
                            {% else %}
                                {{ foja.descripcion }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'fojas_quirurgicas:update' foja.id foja.historia_id %}"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'fojas_quirurgicas:delete' foja.id foja.historia_id %}"><i class="fa fa-trash-o"></i></a>
                            <a href="{% url 'reportes:fojas_quirurgicas' foja.id %}" target="_blank"><i class="fa fa-print"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% paginate %}

{% endblock fq_contenido %}