{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Inter consultas{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">

            <h1 class="page-header">Inter consultas</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <!-- info de la historia -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <i class="fa fa-bars"></i> Historia clínica
                </div>
                <div class="panel-body">
                    <div class="well well-lg">
                      <label><strong>Código: </strong></label>
                      <span class="label label-success">{{ historia.codigo }}</span>
                      <br>
                      <label><strong>Fecha Ingreso: </strong></label>
                      {{ historia.fecha_ingreso|date:"SHORT_DATE_FORMAT" }}
                      <br>
                      <label><strong>Hora Ingreso: </strong></label>
                      {{ historia.hora_ingreso }}
                    </div>
                </div>
            </div><!-- / info de la historia -->
            <!-- info info del paciente -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <i class="fa fa-user"></i> Paciente
                </div>
                <div class="panel-body">
                    <div class="well well-lg">
                      <label><strong>Nombre: </strong></label>
                      {{ historia.paciente.nombre }}
                      <br>
                      <label><strong>Apellido: </strong></label>
                      {{ historia.paciente.apellido }}
                      <br>
                      <label><strong>Sexo: </strong></label>
                      {% if historia.paciente.sexo == 0 %}Masculino{% else %}Femenino{% endif %}
                      <br>
                      <label><strong>Madre: </strong></label>
                      {{ historia.paciente.madre }}
                      <br>
                      <label><strong>F. nacimiento: </strong></label>
                      {{ historia.paciente.fecha_nacimiento|date:"SHORT_DATE_FORMAT" }}
                      <br>
                      <label><strong>Estado civil: </strong></label>
                      {% if historia.paciente.estado_civil == 0 %}
                        Soltero
                      {% elif historia.paciente.estado_civil == 1 %}
                        Casado
                      {% elif historia.paciente.estado_civil == 2 %}
                        Viudo
                      {% elif historia.paciente.estado_civil == 3 %}
                        Divorciado
                      {% endif %}
                    </div>
                </div>
            </div><!-- / info del paciente -->
        </div>
        <div class="col-lg-9">

        </div>
    </div>

{% endblock %}