{% load crispy_forms_tags %}
<div class="well">
    <div class="row">
      <div class="col-lg-6">
        <label><strong>Código</strong></label><br>
        <input type="hidden" value='{{ paciente.fecha_nacimiento|date:"dmY" }}' id='codigo' name="codigo">
        <span class="text-success"><strong>{{ paciente.fecha_nacimiento|date:"dmY" }}</strong></span>
      </div>
      <div class="col-lg-6">
          {{ form_historia.tipo|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
          {{ form_historia.fecha_ingreso|as_crispy_field }}
      </div>
      <div class="col-lg-6">
          {{ form_historia.hora_ingreso|as_crispy_field }}
      </div>
    </div>
</div>