{% load historias_tags %}

<!-- -------------------------------------------
    Diferentes opciones/operaciones que
    que se pueden hacer sobre una historia
    clínica.
-------------------------------------------- -->

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Elija una opción
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{% url 'inter_consultas:list' historia.id %}">
            <i class="fa fa-stethoscope"></i> Inter consultas
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{% url 'evoluciones:list' historia.id %}">
            <i class="fa fa-check-square-o"></i> Evoluciones
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{% url 'fojas_quirurgicas:list' historia.id %}">
            <i class="fa fa-heartbeat"></i> Fojas Quirurgicas
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{% url 'historias:update' historia.id %}">
            <i class="fa fa-plus"></i> Ampliar información
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{% url 'historias:estado_update' historia.id %}">
            <i class="fa fa-cog"></i> Cambiar estado
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{% url 'reportes:historia' historia.id %}">
            <i class="fa fa-print"></i> Imprimir
        </a>
    </li>
    <li role="presentation">
        {% if historia|tiene_ubicacion:historia.id == 1 %}
            <a role="menuitem" tabindex="-1" href="{% url 'historias:ubicacion_update' historia.id %}">
                <i class="fa fa-bed"></i> Reubicar paciente
            </a>
        {% else %}
            <a role="menuitem" tabindex="-1" href="{% url 'historias:ubicacion_create' historia.id %}">
                <i class="fa fa-bed"></i> Ubicar paciente
            </a>
        {% endif %}
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{% url 'historias:update' historia.id %}">
            <i class="fa fa-pencil"></i> Editar datos
        </a>
    </li>
  </ul>
</div>