{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Nueva Historia Clínica{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'historias:list' %}"><i class="fa fa-reply"> Volver</i></a>
            <h1 class="page-header">
                {% if form_historia.instance.id %}
                    Editar
                {% else %}
                    Crear
                {% endif %}
                Historia Clínica
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <!-- info del paciente -->
            {% include 'historias/_info_paciente.html' %}
            <!-- / info del paciente -->
        </div>
        <div class="col-lg-9">
            <ul id="myTab" class="nav nav-tabs">
               <li class="active"><a href="#general" data-toggle="tab">General</a></li>
               <li><a href="#diagnostico" data-toggle="tab">Diagnóstico</a></li>
               <li><a href="#anamnesis" data-toggle="tab">Anamnesis y exámen físico</a></li>
               <li><a href="#antecedentes_personales" data-toggle="tab">Antecedentes personales</a></li>
               <li><a href="#habitos" data-toggle="tab">Hábitos</a></li>
               <li><a href="#antecedentes_familiares" data-toggle="tab">Antecedentes familiares</a></li>
               <li><a href="#aparatos" data-toggle="tab">Anamnesis por aparatos o sistemas</a></li>
               <li><a href="#examen_fisico" data-toggle="tab">Exámen físico</a></li>
               <li><a href="#planteos" data-toggle="tab">Planteos</a></li>
               <li><a href="#metodologia" data-toggle="tab">Metodología</a></li>
            </ul>
            <br>
            <form method="POST">
                {% csrf_token %}
                <div id="myTabContent" class="tab-content">
                   <div class="tab-pane fade in active" id="general">
                        {% include 'historias/_form_general.html' %}
                   </div>
                   <div class="tab-pane fade" id="diagnostico">
                        {% include 'historias/_form_diagnosticos.html' %}
                   </div>
                   <div class="tab-pane fade" id="anamnesis">
                      {% include 'historias/_form_anamnesis.html' %}
                   </div>
                   <div class="tab-pane fade" id="antecedentes_personales">
                      {% include 'historias/_form_antecedentes_personales.html' %}
                   </div>
                   <div class="tab-pane fade" id="habitos">
                      {% include 'historias/_form_habitos.html' %}
                   </div>
                   <div class="tab-pane fade" id="antecedentes_familiares">
                      {% include 'historias/_form_antecedentes_familiares.html' %}
                   </div>
                   <div class="tab-pane fade" id="aparatos">
                      {% include 'historias/_form_aparatos.html' %}
                   </div>
                   <div class="tab-pane fade" id="examen_fisico">
                      {% include 'historias/_form_examen_fisico.html' %}
                   </div>
                   <div class="tab-pane fade" id="planteos">
                      {% include 'historias/_form_planteos.html' %}
                   </div>
                   <div class="tab-pane fade" id="metodologia">
                      {% include 'historias/_form_metodologias.html' %}
                   </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Confirmar</button>
                <a href="{% url 'historias:list' %}">Cancelar</a>
            </form>
        </div>

    </div>




{% endblock %}