{% extends 'base.html' %}
{% load pagination_tags %}
{% load historias_tags %}

{% block title %}Historias clínicas{% endblock title %}

{% block content %}
    {% autopaginate object_list 30 %}
    <div class="row">
        <div class="col-lg-12">
            {% if paciente %}
                <!-- link Volver -->
                <a href="{% url 'pacientes:list' %}"><i class="fa fa-reply"> Volver</i></a>
                <!-- / link Volver -->
            {% endif %}
            <h1 class="page-header">
                Historias clínicas
                {% if paciente %}
                     - Paciente "{{ paciente.nombre }} {{ paciente.apellido }}"
                {% endif %}
            </h1>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-plus-square"></i> Nueva Historia Clínica para ... <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'pacientes:create' %}"><i class="fa fa-user-plus"></i> Paciente no Existente</a></li>
                    <li><a href="{% url 'pacientes:list' %}"><i class="fa fa-user"></i> Paciente ya Existente</a></li>
                </ul>
            </div>

            {% if paciente %}
                <a class="btn btn-success" href="{% url 'historias:list' %}">
                    <i class="fa fa-refresh"></i> Todas las Historias
                </a>
            {% endif %}

            {% if object_list %}
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dt_grid">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Fecha ingreso</th>
                            <th>Hora ingreso</th>
                            <th>Nombre del paciente</th>
                            <th>Nombre de la madre</th>
                            <th>Dni</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for historia in object_list %}
                            <tr>
                                <td><span class="label label-success">{{ historia.codigo }}</span></td>
                                <td>{% if historia.tipo == 1 %} Internación {% else %} Inter consulta{% endif %}</td>
                                <td>
                                    {% if historia.estado == None %}
					<span class="label label-warning">Open</span>
                                    {% else %}
                                        {% if historia.estado == 1 %}
                                            <span class="label label-success">Alta</span>
                                        {% else %}
                                            {% if historia.estado == 2 %}
                                                <span class="label label-danger">Óbito</span>
                                            {% else %}
                                                {% if historia.estado == 3 %}
                                                    <span class="label label-primary">Pase de servicio</span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ historia.fecha_ingreso|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ historia.hora_ingreso }}</td>
                                <td>{{ historia.paciente.nombre }} {{ historia.paciente.apellido }}</td>
                                <td>{{ historia.paciente.madre }}</td>
                                <td>{{ historia.paciente.dni }}</td>
                                <td>
                                    <div class="dropdown">
                                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                        Elija una opción
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{% url 'inter_consultas:list' historia.id %}">
                                                <i class="fa fa-stethoscope"></i> Inter consultas
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{% url 'evoluciones:list' historia.id %}">
                                                <i class="fa fa-check-square-o"></i> Evoluciones
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{% url 'historias:update' historia.id %}">
                                                <i class="fa fa-plus"></i> Ampliar información
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{% url 'historias:estado_update' historia.id %}">
                                                <i class="fa fa-cog"></i> Cambiar estado
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <i class="fa fa-print"></i> Imprimir
                                            </a>
                                        </li>
                                        {% if historia.tipo == 1 and historia.estado == Null %}
                                            <li role="presentation">
                                                {% if historia|tiene_ubicacion:historia.id == 1 %}
                                                    <a role="menuitem" tabindex="-1" href="{% url 'historias:ubicacion_update' historia.id %}">
                                                        <i class="fa fa-bed"></i> Reubicar paciente
                                                    </a>
                                                {% else %}
                                                    <a role="menuitem" tabindex="-1" href="{% url 'historias:ubicacion_create' historia.id %}">
                                                        <i class="fa fa-bed"></i> Ubicar paciente
                                                    </a>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{% url 'historias:update' historia.id %}">
                                                <i class="fa fa-pencil"></i> Editar datos
                                            </a>
                                        </li>
                                      </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% paginate %}
            {% else %}
                <p>Sin registros!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
