{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Historia - Estado{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'historias:list' %}"><i class="fa fa-reply"> Volver</i></a>
            <h1 class="page-header">
                Modificar el Estado
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            {% include '_info_historias_pacientes.html' %}
        </div>
        <div class="col-lg-9">
            <div class="alert alert-dismissable alert-info">
	            <i class="fa fa-exclamation-triangle"></i>
                Dejar el estado en blanco significa que la historia clínica aún sigue abierta.
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Confirmar</button>
                <a href="{% url 'historias:list' %}">Cancelar</a>
            </form>
        </div>

    </div>




{% endblock %}


