{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Nueva Historia Clínica{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'historias:list' %}"><i class="fa fa-reply"> Volver</i></a>
            <h1 class="page-header">
                {% if form.instance.id %}
                    Reubicar
                {% else %}
                    Ubicar
                {% endif %}
                Paciente
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <!-- info del paciente -->
            {% include 'historias/_info_paciente.html' %}
            <!-- / info del paciente -->
        </div>
        <div class="col-lg-9">
            <form method="POST">
                <div class="well">
                    <label>Nº Historia:</label>
                    <span class="label label-success">{{ historia.codigo }}</span>
                </div>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Confirmar</button>
                <a href="{% url 'historias:list' %}">Cancelar</a>
            </form>
        </div>

    </div>




{% endblock %}